<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}">
</head>
<body>

<h1>Users</h1>
<div th:each="user : ${users}" class="user">
    <h3 th:text="${user.firstName}"></h3>
    <h3 th:text="${user.lastName}"></h3>
    <h3 th:text="${user.email}"></h3>
    <a th:href="@{|/user/${user.id}|}">View</a>
</div>

<a th:href="@{/user/create}">Create User</a>
</body>
</html>